* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightslategrey;
}

.card-container{
    display: flex;
    justify-content: space-around;
}

.card-grid{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    /* align-items: center; */
}

.card {
    box-shadow: 3px 3px 10px 1px;
    width: 275px;
    margin: 15px;
    background-color: whitesmoke;
}

.product-title{
    border-style: solid;
    border-color: lightblue;
    border-width: 1px;
    text-align: center;
    margin: 0px 0px 10px 0px;
    font-size: 1.5em;
    font-weight: bold;
}

.product-title > p {
    margin: 10px 0px;
}

.image-element{
    text-align: center;

}

.image-element > img {
    box-shadow: 2px 2px 4px -2px;
    max-width: 100%;
}

.description-element{
    text-align: justify;
    padding: 0px 15px;
}

.section2 {
    padding: 0px 15px;
}
.section2 p, .section3 p{
    margin: 5px 0px;
}

.section3 {
    padding: 0px 15px;
}

.availability-element{
    background-color: darkgrey;
    color: yellow;
    padding-left: 15px;
}
h3{
    border-style: none none solid none;
    border-width: 1px;
    margin-bottom: 5px;
    margin-top: 10px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .card-grid {
        width: 100%;
    }
    .card {
        width: 275px;
    }
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .card-grid {
        width: 990px;
    }
    .card {
        width: 275px;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .card-grid {
        width: 990px;
    }
    .card {
        width: 275px;
    }

}